## THE DATASET

Importing the Dataset

In [4]:
import gdown
from pathlib import Path
import zipfile

# 1️⃣ Set paths
RAW_DIR = Path("data/raw")
RAW_DIR.mkdir(parents=True, exist_ok=True)  # create folder if missing

# 2️⃣ Google Drive file ID for your zip
# Replace with the "id" from your shared link
GDRIVE_FILE_ID = "1ID1g0ZTkSfGSJy8hSTNAxbxXKIwnRrr7"
ZIP_PATH = RAW_DIR / "nasa_cmaps.zip"

# 3️⃣ Download the zip (works without credentials)
print("Downloading dataset from Google Drive...")
gdown.download(f"https://drive.google.com/uc?id={GDRIVE_FILE_ID}", str(ZIP_PATH), quiet=False)

# 4️⃣ Extract all files
with zipfile.ZipFile(ZIP_PATH, 'r') as zip_ref:
    zip_ref.extractall(RAW_DIR)

# 5️⃣ Optional: remove the zip to keep things clean
ZIP_PATH.unlink()

print(f"Dataset ready at: {RAW_DIR.resolve()}")

Downloading dataset from Google Drive...

Downloading...
From: https://drive.google.com/uc?id=1ID1g0ZTkSfGSJy8hSTNAxbxXKIwnRrr7
To: C:\Users\CJ\turbofan-engine-rul\notebooks\data\raw\nasa_cmaps.zip
100%|█████████████████████████████████████████████████████████████████████████████| 13.0M/13.0M [00:08<00:00, 1.62MB/s]

Dataset ready at: C:\Users\CJ\turbofan-engine-rul\notebooks\data\raw

In [1]:
import sys
sys.path.append("..")

from src.data.load_cmapss import load_cmapss_subset

df = load_cmapss_subset("FD001", "train")
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [2]:
# Load FD001 training data
df_fd1_train = load_cmapss_subset("FD001", "train")

# Load FD003 test data
df_fd1_test = load_cmapss_subset("FD001", "test")

# Load FD002 training data
df_fd2_train = load_cmapss_subset("FD002", "train")

# Load FD002 test data
df_fd2_test = load_cmapss_subset("FD002", "test")

# Load FD003 training data
df_fd3_train = load_cmapss_subset("FD003", "train")

# Load FD003 training data
df_fd3_test = load_cmapss_subset("FD003", "test")

In [3]:
# Top row check
df_fd3_train.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,1,1,-0.0005,0.0004,100.0,518.67,642.36,1583.23,1396.84,14.62,...,522.31,2388.01,8145.32,8.4246,0.03,391,2388,100.0,39.11,23.3537
1,1,2,0.0008,-0.0003,100.0,518.67,642.50,1584.69,1396.89,14.62,...,522.42,2388.03,8152.85,8.4403,0.03,392,2388,100.0,38.99,23.4491
2,1,3,-0.0014,-0.0002,100.0,518.67,642.18,1582.35,1405.61,14.62,...,522.03,2388.00,8150.17,8.3901,0.03,391,2388,100.0,38.85,23.3669
3,1,4,-0.0020,0.0001,100.0,518.67,642.92,1585.61,1392.27,14.62,...,522.49,2388.08,8146.56,8.3878,0.03,392,2388,100.0,38.96,23.2951
4,1,5,0.0016,0.0000,100.0,518.67,641.68,1588.63,1397.65,14.62,...,522.58,2388.03,8147.80,8.3869,0.03,392,2388,100.0,39.14,23.4583

In [ ]:
https://drive.google.com/file/d/1ID1g0ZTkSfGSJy8hSTNAxbxXKIwnRrr7/view?usp=sharing

In [ ]:
https://drive.google.com/file/d/1ID1g0ZTkSfGSJy8hSTNAxbxXKIwnRrr7/view?usp=sharing